.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
  }
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }
  
  .program__name {
    color: blue;
  }
  body {
    background-color: rgb(204, 217, 243);
  }
  
  
 
h6{
 color: rgb(9, 72, 167);
}
#col2button1,#col2button2,#col2button3,#col2button4,
#col2button5,#col2button6,#col2button7,#col2button8,#col2button9,#col2button10{
  margin-left: 59px;
  margin-top: 5px;
}
hr {
  height:1px;
  border-width:0;
  color:rgb(24, 3, 3);
  background-color:rgb(24, 3, 3);
}
#grid-container {
  grid-gap: 50px;
  
  
}